<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Traditional Game</title>
    <link rel="stylesheet" href="./css/game.css">
  </head>

  <body>
    <header>
      <a href="/"><</a>
      <img src="./img/game/logo.png" alt="">
      <h1>ROCK PAPER SCISSORS</h1>
    </header>
    <main>
      <div id="player1">
        <h2>PLAYER 1</h2>
        <div class="player1Sign batu">
          <!-- <img src="./img/game/batu.png" alt="batu" onclick="playerCard()"><br> -->
          <input id="" type="image" onclick="playerCard(0)" src="./img/game/batu.png">
        </div>
        <div class="player1Sign kertas">
          <!-- <img src="./img/game/kertas.png" alt="kertas" onclick="playerCard()"><br> -->
          <input id="" type="image" onclick="playerCard(1)" src="./img/game/kertas.png">
        </div>
        <div class="player1Sign gunting">
          <!-- <img src="./img/game/gunting.png" alt="gunting" onclick="playerCard()"> -->
          <input id="" type="image" onclick="playerCard(2)" src="./img/game/gunting.png">
        </div>
      </div>
      <div id="versus">
        <p class="versus">V S</p>
      </div>
      <div id="computer">
        <h2>COM</h2>
        <div class="computerSign">
          <img src="./img/game/batu.png" alt="batu">
        </div>
        <div class="computerSign">
          <img src="./img/game/kertas.png" alt="kertas">
        </div>
        <div class="computerSign">
          <img src="./img/game/gunting.png" alt="gunting">
        </div>
      </div>
      <input id="refresh-button" type="image" onclick="refreshButton()" src="./img/game/refresh.png">
    </main>
    <script src="./js/game.js"></script>
  </body>

</html>
